<div id="ecommercemetricone" class="page-layout blank">
    <div class="mt-16 ml-24"><span class="h2">Ecommerce</span></div>
    <div class="main-widget mt-4">
        <div
            class="ml-24"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start start"
        >
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div
                    class="fuse-card auto-width mb-32"
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="position-relative p-24"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div
                            class="pl-40"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                            style="align-items: center !important;"
                        >
                            <div class="pt-14">
                                <mat-icon style="color:#35b5e5"
                                    >person</mat-icon
                                >
                            </div>
                            <div
                                class="position-relative p-24 pt-0 pb-0"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <div
                                    fxLayout="column"
                                    fxLayoutAlign="start start"
                                >
                                    <span class="h2" style="color:#35b5e5"
                                        >Friday</span
                                    >
                                    <span class="h5 ">Best day of the week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div
                    class="fuse-card auto-width mb-32"
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="position-relative p-24"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div
                            class="pl-40"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                        >
                            <div class="pt-14">
                                <mat-icon style="color:rgba(183,115,222,1)"
                                    >add_shopping_cart</mat-icon
                                >
                            </div>
                            <div
                                class="position-relative p-24 pt-0 pb-0"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <div
                                    fxLayout="column"
                                    fxLayoutAlign="start start"
                                >
                                    <span
                                        class="h2"
                                        style="color:rgba(183,115,222,1)"
                                        >6pm to 7pm on the Friday</span
                                    >
                                    <span class="h5 ">Best hour of the week</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div
                    class="fuse-card auto-width mb-32"
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="position-relative p-24"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div
                            class="pl-40"
                            fxLayout="row"
                            fxLayoutAlign="start center"
                        >
                            <div class="pt-14">
                                <mat-icon style="color:#4f4"
                                    >trending_up</mat-icon
                                >
                            </div>
                            <div
                                class="position-relative p-24 pt-0 pb-0"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <div
                                    fxLayout="column"
                                    fxLayoutAlign="start start"
                                >
                                    <span class="h2" style="color:#4f4"
                                        >31.3k</span
                                    >
                                    <span class="h5"
                                        >Sales Target</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important; display:block">
        <!-- Row2 -->
        <div
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start start"
        >
            <!-- Widget 1 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                <div
                    class="fuse-card auto-width mb-32 ml-32"
                    [ngClass.gt-sm]="'mb-0 mr-16'"
                >
                    <div class="pt-8 pl-8">
                        <span class="h2">Day of the Week</span>
                    </div>
                    <div style="text-align: center; align-items: center;">
                        <div
                            class="position-relative p-24 blue-600"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h5 secondary-text"
                                    >Weekly view</span
                                >
                            </div>
                        </div>
                        <div class="position-relative h-256 pb-16 blue-600">
                            <canvas
                                baseChart
                                [datasets]="
                                    widgets.widget1.datasets[
                                        widget1SelectedYear
                                    ]
                                "
                                [labels]="widgets.widget1.labels"
                                [colors]="widgets.widget1.colors"
                                [options]="widgets.widget1.options"
                                [chartType]="widgets.widget1.chartType"
                            >
                            </canvas>
                            <!--
                                <div id="chartContainer" style="height: 250px; width: 100%;"></div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widget 2 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                <div
                    class="fuse-card auto-width mb-32 ml-16 pl-32"
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="p-16 pb-0 "
                        fxLayout="row wrap"
                        fxLayoutAlign="start end"
                    >
                        <div class="pr-16">
                            <div class="h2">
                                Hour of the week
                            </div>
                        </div>
                    </div>

                    <div class="h-304 w-100-p">
                        <canvas
                            baseChart
                            [datasets]="widgets.widget4.datasets"
                            [labels]="widgets.widget4.labels"
                            [colors]="widgets.widget2.colors"
                            [options]="widgets.widget4.options"
                            [chartType]="widgets.widget4.chartType"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row 3 -->
        <div
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start start"
        >
            <!-- Widget 1 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div
                    class="fuse-card auto-width mb-32 ml-32 "
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="p-16 pb-0"
                        fxLayout="row wrap"
                        fxLayoutAlign="start end"
                    >
                        <div class="pr-16">
                            <div class="h2">
                                Gender Sentiment Change
                            </div>
                        </div>
                    </div>
                    <div class="h-327 w-100-p pt-10">
                        <jqxChart
                            [width]="getWidth1()"
                            [height]="327"
                            [title]="''"
                            [description]="''"
                            [showLegend]="true"
                            [enableAnimations]="true"
                            [showBorderLine]="false"
                            [padding]="padding1"
                            [titlePadding]="titlePadding1"
                            [source]="dataAdapter"
                            [showBorderLine]="true"
                            [seriesGroups]="seriesGroups1"
                            [colorScheme]="'scheme02'"
                            [legendLayout]="legendLayout"
                        >
                        </jqxChart>
                    </div>
                </div>
            </div>
            <!-- Widget 2 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                <div
                    class="fuse-card auto-width mb-32 ml-32 "
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="p-16 pb-0 "
                        fxLayout="row wrap"
                        fxLayoutAlign="start end"
                    >
                        <div class="pr-16">
                            <div class="h2">
                                Hit Rate for the week
                            </div>
                        </div>
                    </div>

                    <div class="h-296 w-100-p">
                        <canvas
                            baseChart
                            [datasets]="widgets.widget10.datasets"
                            [labels]="widgets.widget10.labels"
                            [colors]="widgets.widget2.colors"
                            [options]="widgets.widget10.options"
                            [chartType]="widgets.widget10.chartType"
                        >
                            
                        </canvas>
                    </div>
                    <div class="h1" style = "color:blue;text-align: center">
                        1,500 Hits
                    </div>
                </div>
            </div>
            <!-- Widget 3 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div
                    class="fuse-card auto-width mb-32 ml-64 pl-32"
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                    style="text-align: center; height: 340px;"
                >
                    <div
                        class="p-16 pb-0"
                        fxLayout="row wrap"
                        fxLayoutAlign="start end"
                    >
                        <div
                            class="pr-16"
                            style="position:relative; display: flex; flex: 1; align-items: center"
                        >
                            <div class="h2">Weather Update</div>
                            <div
                                class="h5"
                                style="right:0px; position: absolute"
                            >
                                Updated 10 mins ago
                            </div>
                        </div>
                    </div>
                    <div class="h-350 w-100-p weather_bgimg">
                        <div style="display:flex">
                            <div
                                style="display:flex; align-items: center; margin-right: 80px;"
                            >
                                <img
                                    class="mt-24"
                                    src="{{current_date_status_icon}}"
                                    style="width :96px; height: 96px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="text-align: center; align-items: center; color:white;"
                                >
                                    {{ current_date_status_text }}
                                </h5>
                            </div>
                            <div
                                style="text-align-last: left; flex:1; padding-top:20px;"
                            >
                                <h6
                                    style="color:white; margin:10px 10px; text-align: right"
                                >
                                    Wind: {{ current_date_wind_mph }} mph
                                </h6>
                                <h6
                                    style="color:white; margin:10px 10px; text-align: right"
                                >
                                    Precip: {{ current_date_precip_in }} in
                                </h6>
                                <h6
                                    style="color:white; margin:10px 10px;  text-align: right"
                                >
                                    Pressure: {{ current_date_pressure_in }} in
                                </h6>
                                <h2
                                    style="color:white;margin:10px 12px; text-align:right"
                                >
                                    {{ current_date_temp }} °f
                                </h2>
                            </div>
                        </div>
                        <div style="margin:0px 30px; display:flex;">
                            <div>
                                <h5
                                    style="color:white; margin-bottom: 0px; text-align: center"
                                >
                                    {{ forecast_day2_date }}
                                </h5>
                                <img
                                    class="mt-24"
                                    src="{{forecast_day2_status_icon}}"
                                    style="width :50px; height: 50px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="color:white; margin-top: 0px; text-align:center"
                                >
                                    {{ forecast_day2_temp }} °f
                                </h5>
                            </div>
                            <div>
                                <h5
                                    style="color:white; margin-bottom: 0px; text-align: center"
                                >
                                    {{ forecast_day3_date }}
                                </h5>
                                <img
                                    class="mt-24"
                                    src="{{forecast_day3_status_icon}}"
                                    style="width :50px; height: 50px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="color:white; margin-top: 0px; text-align:center"
                                >
                                    {{ forecast_day3_temp }} °f
                                </h5>
                            </div>
                            <div>
                                <h5
                                    style="color:white; margin-bottom: 0px; text-align: center"
                                >
                                    {{ forecast_day4_date }}
                                </h5>
                                <img
                                    class="mt-24"
                                    src="{{forecast_day4_status_icon}}"
                                    style="width :50px; height: 50px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="color:white; margin-top: 0px; text-align:center"
                                >
                                    {{ forecast_day4_temp }} °f
                                </h5>
                            </div>
                            <div>
                                <h5
                                    style="color:white; margin-bottom: 0px; text-align: center"
                                >
                                    {{ forecast_day5_date }}
                                </h5>
                                <img
                                    class="mt-24"
                                    src="{{forecast_day5_status_icon}}"
                                    style="width :50px; height: 50px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="color:white; margin-top: 0px; text-align:center"
                                >
                                    {{ forecast_day5_temp }} °f
                                </h5>
                            </div>
                            <div>
                                <h5
                                    style="color:white; margin-bottom: 0px; text-align: center"
                                >
                                    {{ forecast_day6_date }}
                                </h5>
                                <img
                                    class="mt-24"
                                    src="{{forecast_day6_status_icon}}"
                                    style="width :50px; height: 50px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="color:white; margin-top: 0px; text-align:center"
                                >
                                    {{ forecast_day6_temp }} °f
                                </h5>
                            </div>
                            <div>
                                <h5
                                    style="color:white; margin-bottom: 0px; text-align: center"
                                >
                                    {{ forecast_day7_date }}
                                </h5>
                                <img
                                    class="mt-24"
                                    src="{{forecast_day7_status_icon}}"
                                    style="width :50px; height: 50px; margin-top: 0px !important;"
                                />
                                <h5
                                    style="color:white; margin-top: 0px; text-align:center"
                                >
                                    {{ forecast_day7_temp }} °f
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
