<div id="ecommercemetric" class="page-layout blank">
    <div class="mt-16 ml-24"><span class="h2">Ecommerce</span></div>
    <div class="main-widget mt-4">
        <div class="ml-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pl-40" fxLayout="row" fxLayoutAlign="start center" style ="align-items: center !important;">
                            <div class="pt-14">
                                <mat-icon style = "color:#35b5e5">person</mat-icon>
                            </div>
                            <div class="position-relative p-24 pt-0 pb-0" fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <span class="h2" style = "color:#35b5e5">$3092</span>
                                    <span class="h5 ">Average Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pl-40" fxLayout="row" fxLayoutAlign="start center">
                            <div class="pt-14">
                                <mat-icon style = "color:rgba(183,115,222,1)">add_shopping_cart</mat-icon>
                            </div>
                            <div class="position-relative p-24 pt-0 pb-0" fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <span class="h2" style = "color:rgba(183,115,222,1)">923</span>
                                    <span class="h5 ">Conversion Rate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="pl-40" fxLayout="row" fxLayoutAlign="start center">
                            <div class="pt-14">
                                <mat-icon style = "color:#4f4">trending_up</mat-icon>
                            </div>
                            <div class="position-relative p-24 pt-0 pb-0" fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <span class="h2" style = "color:#4f4">+3.7%</span>
                                    <span class="h5">Customer visit perday growth</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important;">
        <div class="left">
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h2">
                                    Customer Satisfaction Metrics
                                </div>
                            </div>
                            
                        </div>
                        <div class="h-150 w-100-p">
                            <div class="widget pl-16" fxFlex="100" fxFlex.gt-sm="100">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th class="w-200">Product</th>
                                            <th class="w-250">Name</th>
                                            <th>Affility LEVEL</th>
                                            <th class="w-120">Total Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="product-row">
                                            <td>
                                                <img class="product-image" src="assets/images/ecommerce/a-walk-amongst-friends.jpg" />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Alex
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>29,192$</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img class="product-image" src="assets/images/ecommerce/first-snow.jpg" />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    John
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>29,192$</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img class="product-image" src="assets/images/ecommerce/fall-glow.jpg" />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Smith
                                                </div>
                                            </td>
                                            <td>9</td>
                                            <td>29,192$</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img class="product-image" src="assets/images/ecommerce/reaching.jpg" />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    David
                                                </div>
                                            </td>
                                            <td>9</td>
                                            <td>29,192$</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h2">
                                    Traffic Source
                                </div>
                            </div>
                        </div>
                        <div class="h-407 w-100-p pt-16">
                            <div class="pl-16" style="display:flex;">
                                <div class="h3 secondary-text" style="flex:1">
                                    Total Sales
                                </div>
                                <div class="h3 secondary-text pr-16" style="float: right;">
                                    $50,000
                                </div>
                            </div>
                            <div class="pl-16" style="text-align: center">
                                <circle-progress [percent]="46" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
                                    [animation]="true" [animationDuration]="300">
                                </circle-progress>
                            </div>
                            <div class="pl-16 mb-60 mt-20" style="display:flex;">
                                <div class="h3 secondary-text  ml-120" style="flex:1">
                                    <div class="h3 secondary-text">
                                        Retail Stores
                                    </div>
                                    <div class="h3 secondary-text">
                                        $18,570
                                    </div>
                                </div>
                                <div class="h3 secondary-text pr-16 mr-120" style="float: right;">
                                    <div class="h3 secondary-text ">
                                        Ecommerce Web
                                    </div>
                                    <div class="h3 secondary-text ">
                                        $31,330
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h2">Sales Recommendation</div>
                            </div>
                        </div>
                        <div class="h-407 w-100-p pt-10">
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Segmentation Sentiment change
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="87" [colorRanges]="horizontalColorRanges1">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Net Promoter Score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="53" [colorRanges]="horizontalColorRanges2">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Average Customer Review
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="37" [colorRanges]="horizontalColorRanges3">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer lifetime Value
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="87" [colorRanges]="horizontalColorRanges1">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer satisfication score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="53" [colorRanges]="horizontalColorRanges2">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">Weather</div>
                            </div>
                            <div class="pl-16 pr-16 pb-20">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="37" [colorRanges]="horizontalColorRanges3">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 mb-16 pb-4">
                                <div class="h1" style = "text-align:center">Purchase on SEO Strategy</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="column" fxLayoutAlign.gt-sm="start start">
                <div class="widget">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h2">Metrics</div>
                            </div>
                        </div>
                        <div class="h-150 w-100-p">
                            <table class="simple">
                                <tbody>
                                    <tr class="product-row">
                                        <td>
                                            <img class="product-image" src="assets/images/ecommerce/a-walk-amongst-friends.jpg">
                                        </td>
                                        <td>
                                            <div class="auto-width"> First Responsive Time </div>
                                        </td>
                                        <td>
                                            200 new Customers
                                        </td>
                                    </tr>
                                    <tr class="product-row">
                                        <td>
                                            <img class="product-image" src="assets/images/ecommerce/reaching.jpg">
                                        </td>
                                        <td>
                                            <div class="auto-width"> Average Resolution Time </div>
                                        </td>
                                        <td>
                                            24 mins
                                        </td>
                                    </tr>
                                    <tr class="product-row">
                                        <td>
                                            <img class="product-image" src="assets/images/ecommerce/yosemite.jpg">
                                        </td>
                                        <td>
                                            <div class="auto-width"> Social Followers & Fans </div>
                                        </td>
                                        <td>
                                            5 pages
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="simple">
                                <tbody>
                                    <tr class="product-row">
                                        <td>
                                            <img class="product-image" src="assets/images/ecommerce/a-walk-amongst-friends.jpg">
                                        </td>
                                        <td>
                                            <div class="auto-width"> First Responsive Time </div>
                                        </td>
                                        <td>
                                            200 new Customers
                                        </td>
                                    </tr>
                                    <tr class="product-row">
                                        <td>
                                            <img class="product-image" src="assets/images/ecommerce/reaching.jpg">
                                        </td>
                                        <td>
                                            <div class="auto-width"> Average Resolution Time </div>
                                        </td>
                                        <td>
                                            24 mins
                                        </td>
                                    </tr>
                                    <tr class="product-row">
                                        <td>
                                            <img class="product-image" src="assets/images/ecommerce/yosemite.jpg">
                                        </td>
                                        <td>
                                            <div class="auto-width"> Social Followers & Fans </div>
                                        </td>
                                        <td>
                                            5 pages
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="fuse-card" [ngClass.gt-sm]="'mb-0'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16" style = "position:relative; display: flex; flex: 1; align-items:center;">
                                <div class="h2" >Weather Update</div>
                                <div class="h5" style = "right:0px; position: absolute">Updated 10 mins ago</div>
                            </div>
                        </div>
                        <div class="h-350 w-100-p weather_bgimg">
                            <div style="display:flex">
                                <div style="display:flex; align-items: center; margin-right: 20px;">
                                    <img class="mt-24" src="{{current_date_status_icon}}" style="width :96px; height: 96px; margin-top: 0px !important;">
                                    <h5 style="text-align: center; align-items: center; color:white;">{{current_date_status_text}}</h5>
                                </div>
                                <div style="text-align-last: left; flex:1; padding-top:20px;">
                                    <h6 style="color:white; margin:3px 10px; text-align: right">Wind:
                                        {{current_date_wind_mph}} mph</h6>
                                    <h6 style="color:white; margin:3px 10px; text-align: right">Precip:
                                        {{current_date_precip_in}} in</h6>
                                    <h6 style="color:white; margin:3px 10px;  text-align: right">Pressure:
                                        {{current_date_pressure_in}} in</h6>
                                    <h2 style="color:white;margin:3px 12px; text-align:right">{{current_date_temp}} °f</h2>
                                </div>
                            </div>
                            <div style="margin:0px 15px; display:flex;">
                                <div>
                                    <h5 style="color:white; margin-bottom: 0px; text-align: center">
                                        {{forecast_day2_date}}
                                    </h5>
                                    <img class="mt-24" src="{{forecast_day2_status_icon}}" style="width :50px; height: 50px; margin-top: 0px !important;">
                                    <h5 style="color:white; margin-top: 0px; text-align:center">
                                        {{forecast_day2_temp}} °f
                                    </h5>
                                </div>
                                <div>
                                    <h5 style="color:white; margin-bottom: 0px; text-align: center">
                                        {{forecast_day3_date}}
                                    </h5>
                                    <img class="mt-24" src="{{forecast_day3_status_icon}}" style="width :50px; height: 50px; margin-top: 0px !important;">
                                    <h5 style="color:white; margin-top: 0px; text-align:center">
                                        {{forecast_day3_temp}} °f
                                    </h5>
                                </div>
                                <div>
                                    <h5 style="color:white; margin-bottom: 0px; text-align: center">
                                        {{forecast_day4_date}} 
                                    </h5>
                                    <img class="mt-24" src="{{forecast_day4_status_icon}}" style="width :50px; height: 50px; margin-top: 0px !important;">
                                    <h5 style="color:white; margin-top: 0px; text-align:center">
                                        {{forecast_day4_temp}} °f
                                    </h5>
                                </div>
                                <div>
                                    <h5 style="color:white; margin-bottom: 0px; text-align: center">
                                        {{forecast_day5_date}}
                                    </h5>
                                    <img class="mt-24" src="{{forecast_day5_status_icon}}" style="width :50px; height: 50px; margin-top: 0px !important;">
                                    <h5 style="color:white; margin-top: 0px; text-align:center">
                                        {{forecast_day5_temp}} °f
                                    </h5>
                                </div>
                                <div>
                                    <h5 style="color:white; margin-bottom: 0px; text-align: center">
                                        {{forecast_day6_date}}
                                    </h5>
                                    <img class="mt-24" src="{{forecast_day6_status_icon}}" style="width :50px; height: 50px; margin-top: 0px !important;">
                                    <h5 style="color:white; margin-top: 0px; text-align:center">
                                        {{forecast_day6_temp}} °f
                                    </h5>
                                </div>
                                <div>
                                    <h5 style="color:white; margin-bottom: 0px; text-align: center">
                                        {{forecast_day7_date}}
                                    </h5>
                                    <img class="mt-24" src="{{forecast_day7_status_icon}}" style="width :50px; height: 50px; margin-top: 0px !important;">
                                    <h5 style="color:white; margin-top: 0px; text-align:center">
                                        {{forecast_day7_temp}} °f
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>