<div id="reporting" class="page-layout blank">
    <div class="content" style="padding-right:8px !important;">
        <div class="left">
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <span class="h2 pl-16 pt-16"
                            >Create your own Custom Report</span
                        >
                        <div
                            class="position-relative p-24"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h2">KPI</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div
                                    class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                    (click)="widget5SelectedDay = 'yesterday'"
                                    [ngClass]="{
                                        accent:
                                            widget5SelectedDay === 'yesterday'
                                    }"
                                >
                                    SELECT WHICH KPI YOU WANT
                                </div>
                            </div>
                        </div>

                        <div class="position-relative h-460 pb-16">
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Segmentation Sentiment change
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="87"
                                    [colorRanges]="horizontalColorRanges1"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Net Promoter Score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="53"
                                    [colorRanges]="horizontalColorRanges2"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Average Customer Review
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="37"
                                    [colorRanges]="horizontalColorRanges3"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer lifetime Value
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="87"
                                    [colorRanges]="horizontalColorRanges1"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer satisfication score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="53"
                                    [colorRanges]="horizontalColorRanges2"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">Weather</div>
                            </div>
                            <div class="pl-16 pr-16 pb-20">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="37"
                                    [colorRanges]="horizontalColorRanges3"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div
                                    class="h1 secondary-text"
                                    style="color:#35b5e5"
                                >
                                    Create Your Report
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <span class="h2 pl-16 pt-16">Automated Email</span>
                        <div
                            class="position-relative p-24"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h2">KPI</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div
                                    class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                    (click)="widget5SelectedDay = 'yesterday'"
                                    [ngClass]="{
                                        accent:
                                            widget5SelectedDay === 'yesterday'
                                    }"
                                >
                                    SELECT WHICH KPI YOU WANT
                                </div>
                            </div>
                        </div>

                        <div class="position-relative h-460 pb-16">
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Segmentation Sentiment change
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="87"
                                    [colorRanges]="horizontalColorRanges1"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Net Promoter Score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="53"
                                    [colorRanges]="horizontalColorRanges2"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Average Customer Review
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="37"
                                    [colorRanges]="horizontalColorRanges3"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer lifetime Value
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="87"
                                    [colorRanges]="horizontalColorRanges1"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer satisfication score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="53"
                                    [colorRanges]="horizontalColorRanges2"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div class="h3 secondary-text">Weather</div>
                            </div>
                            <div class="pl-16 pr-16 pb-20">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="37"
                                    [colorRanges]="horizontalColorRanges3"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pb-4">
                                <div
                                    class="h1 secondary-text"
                                    style="color:#35b5e5"
                                >
                                    List of Email Addresses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <span class="h2 pl-16 pt-16"
                            >SELECT CHARTS TO EXTRACT TO PDF</span
                        >
                        <div
                            class="position-relative p-24 pb-0"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <mat-form-field>
                                    <mat-select
                                        [(value)]="selected"
                                        formControlName="evaluationRuleField"
                                        id="evaluationRuleField"
                                        placeholder="Select value"
                                        name="evaluationRuleField"
                                    >
                                        <mat-option
                                            *ngFor="
                                                let evaluationRuleField of evaluationRuleFields
                                            "
                                            [value]="evaluationRuleField"
                                        >
                                            {{ evaluationRuleField.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <button mat-button (click)="downloadPDF()">
                                    Extract
                                </button>
                            </div>
                        </div>

                        <div class="position-relative h-460 pb-16" #content>
                            <div [ngClass]="{ hide: selected == null }">
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'sales'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 blue-600"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2">Sales</span>
                                            <span class="h5 secondary-text"
                                                >Sales by month</span
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="position-relative h-256 pb-16 blue-600"
                                    >
                                        <canvas
                                            id="myChart1"
                                            chart-data="data"
                                            width="'100%'"
                                            height="48"
                                        ></canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'nps'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 blue-600"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Net Promoter Score
                                            </span>
                                            <span class="h5 secondary-text"
                                                >Month by Month view</span
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="position-relative h-256 pb-16 blue-600"
                                    >
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                widgets.widget1.datasets[
                                                    widget1SelectedYear
                                                ]
                                            "
                                            [labels]="widgets.widget1.labels"
                                            [colors]="widgets.widget1.colors"
                                            [options]="widgets.widget1.options"
                                            [chartType]="
                                                widgets.widget1.chartType
                                            "
                                            id="canvas-nps"
                                        >
                                        </canvas>
                                        <!--
                                            <div id="chartContainer" style="height: 250px; width: 100%;"></div>
                                        -->
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'css'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                        style="flex:2;"
                                    >
                                        <div class="pr-16" style="flex:1">
                                            <div class="h3 secondary-text">
                                                Customer Satisfication Score
                                            </div>
                                            <div
                                                class="font-size-54 font-weight-300 line-height-1 mt-8"
                                            >
                                                {{
                                                    widgets.widget2.conversion
                                                        .value
                                                }}k
                                            </div>
                                        </div>

                                        <div
                                            class="py-4 font-size-16"
                                            fxLayout="row"
                                            fxLayoutAlign="start center"
                                        >
                                            <div
                                                fxFlex="row"
                                                fxLayoutAlign="start center"
                                                class="green-fg"
                                                *ngIf="
                                                    widgets.widget2.conversion
                                                        .ofTarget > 0
                                                "
                                            >
                                                <mat-icon class="green-fg mr-4"
                                                    >trending_up</mat-icon
                                                >
                                                <span
                                                    >{{
                                                        widgets.widget2
                                                            .conversion
                                                            .ofTarget
                                                    }}%</span
                                                >
                                                of Target
                                            </div>
                                            <div
                                                fxFlex="row"
                                                fxLayoutAlign="start center"
                                                class="red-fg"
                                                *ngIf="
                                                    widgets.widget2.conversion
                                                        .ofTarget < 0
                                                "
                                            >
                                                <mat-icon class="red-fg mr-4"
                                                    >trending_down</mat-icon
                                                >
                                                <span
                                                    >{{
                                                        widgets.widget2
                                                            .conversion
                                                            .ofTarget
                                                    }}%</span
                                                >
                                                of target
                                            </div>
                                        </div>
                                        <img
                                            src="assets/images/satisfication/smile.gif"
                                            width="90"
                                            style="flex: 1;
                                            padding-left: 800px;"
                                        />
                                    </div>

                                    <div class="h-240 w-100-p">
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                widgets.widget2.datasets
                                            "
                                            [labels]="widgets.widget2.labels"
                                            [colors]="widgets.widget2.colors"
                                            [options]="widgets.widget2.options"
                                            [chartType]="
                                                widgets.widget2.chartType
                                            "
                                            id="canvas-css"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'pavv'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 pb-0"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Site Visitors</span
                                            >
                                        </div>
                                    </div>

                                    <div class="position-relative h-368 pb-16">
                                        <canvas
                                            id="sitevisitor_chart"
                                            chart-data="data"
                                            width="'100%'"
                                            height="85"
                                        ></canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'savcs'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 blue-600"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Service Availability via
                                                customer spend
                                            </span>
                                            <span class="h5 secondary-text"
                                                >Month by Month view</span
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="position-relative h-256 pb-16 blue-600"
                                    >
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                service_widgets.widget1
                                                    .datasets[
                                                    widget1SelectedYear
                                                ]
                                            "
                                            [labels]="
                                                service_widgets.widget1.labels
                                            "
                                            [colors]="
                                                service_widgets.widget1.colors
                                            "
                                            [options]="
                                                service_widgets.widget1.options
                                            "
                                            [chartType]="
                                                service_widgets.widget1
                                                    .chartType
                                            "
                                            id="canvas-savcs"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'clbsh'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Customer Lost Hours</span
                                            >
                                            <span class="h5 secondary-text"
                                                >Total lost customer trading
                                                hours</span
                                            >
                                        </div>
                                    </div>
                                    <div class="position-relative h-256 pb-16">
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                service_widgets.widget5
                                                    .datasets[
                                                    widget5SelectedDay
                                                ]
                                            "
                                            [labels]="
                                                service_widgets.widget5.labels
                                            "
                                            [colors]="
                                                service_widgets.widget5.colors
                                            "
                                            [options]="
                                                service_widgets.widget5.options
                                            "
                                            [chartType]="
                                                service_widgets.widget5
                                                    .chartType
                                            "
                                            id="canvas-clbsh"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'ai'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                    >
                                        <div class="pr-16">
                                            <div class="h3 secondary-text">
                                                Active incidents
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-150 w-100-p">
                                        <jqxDataTable
                                            [width]="'100%'"
                                            [columns]="service_table_columns"
                                            [selectionMode]="'singleRow'"
                                            [altRows]="true"
                                            [sortable]="true"
                                            [editable]="true"
                                        >
                                            <table id="table" border="1">
                                                <thead>
                                                    <tr>
                                                        <th align="left">#</th>
                                                        <th align="left">
                                                            Server
                                                        </th>
                                                        <th align="left">
                                                            Description
                                                        </th>
                                                        <th align="right">
                                                            Time to Fix
                                                        </th>
                                                        <th align="right">
                                                            Criticality
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>SM2M Core</td>
                                                        <td>vhost down</td>
                                                        <td>3pm</td>
                                                        <td>High</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Validator</td>
                                                        <td>sample</td>
                                                        <td>5pm</td>
                                                        <td>Critical</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Validatior</td>
                                                        <td>Sample</td>
                                                        <td>2pm</td>
                                                        <td>Medium</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>DNS</td>
                                                        <td>
                                                            DNS Mongodb down
                                                        </td>
                                                        <td>4pm</td>
                                                        <td>Critical</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </jqxDataTable>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'as'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24"
                                        fxLayout="row"
                                        fxLayoutAlign="center center"
                                    >
                                        <div
                                            class="pl-40"
                                            fxLayout="row"
                                            fxLayoutAlign="center center"
                                            style="align-items: center !important;"
                                        >
                                            <div class="pt-14">
                                                <mat-icon style="color:#35b5e5"
                                                    >person</mat-icon
                                                >
                                            </div>
                                            <div
                                                class="position-relative p-24 pt-0 pb-0"
                                                fxLayout="row"
                                                fxLayoutAlign="space-between center"
                                            >
                                                <div
                                                    fxLayout="column"
                                                    fxLayoutAlign="start start"
                                                >
                                                    <span
                                                        class="h1"
                                                        style="color:#35b5e5"
                                                        >$4000</span
                                                    >
                                                    <span class="h4 "
                                                        >Average Sale</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'cr'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            class="pl-40"
                                            fxLayout="row"
                                            fxLayoutAlign="center center"
                                        >
                                            <div class="pt-14">
                                                <mat-icon
                                                    style="color:rgba(183,115,222,1)"
                                                    >add_shopping_cart</mat-icon
                                                >
                                            </div>
                                            <div
                                                class="position-relative p-24 pt-0 pb-0"
                                                fxLayout="row"
                                                fxLayoutAlign="space-between center"
                                            >
                                                <div
                                                    fxLayout="column"
                                                    fxLayoutAlign="center center"
                                                >
                                                    <span
                                                        class="h2"
                                                        style="color:rgba(183,115,222,1)"
                                                        >1250</span
                                                    >
                                                    <span class="h5 "
                                                        >Conversion Rate</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'cvpdg'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            class="pl-40"
                                            fxLayout="row"
                                            fxLayoutAlign="center center"
                                        >
                                            <div class="pt-14">
                                                <mat-icon style="color:#4f4"
                                                    >trending_up</mat-icon
                                                >
                                            </div>
                                            <div
                                                class="position-relative p-24 pt-0 pb-0"
                                                fxLayout="row"
                                                fxLayoutAlign="space-between center"
                                            >
                                                <div
                                                    fxLayout="column"
                                                    fxLayoutAlign="center center"
                                                >
                                                    <span
                                                        class="h2"
                                                        style="color:#4f4"
                                                        >+2.0%</span
                                                    >
                                                    <span class="h5"
                                                        >Customer visit perday
                                                        growth</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'ts'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                    >
                                        <div class="pr-16">
                                            <div class="h2">Traffic Source</div>
                                        </div>
                                    </div>
                                    <div class="h-407 w-100-p pt-16">
                                        <div
                                            class="pl-16"
                                            style="display:flex;"
                                        >
                                            <div
                                                class="h3 secondary-text"
                                                style="flex:1"
                                            >
                                                Total Sales
                                            </div>
                                            <div
                                                class="h3 secondary-text pr-16"
                                                style="float: right;"
                                            >
                                                $50,000
                                            </div>
                                        </div>
                                        <div
                                            class="pl-16"
                                            style="text-align: center"
                                        >
                                            <circle-progress
                                                [percent]="46"
                                                [radius]="100"
                                                [outerStrokeWidth]="16"
                                                [innerStrokeWidth]="8"
                                                [outerStrokeColor]="'#78C000'"
                                                [innerStrokeColor]="'#C7E596'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                            >
                                            </circle-progress>
                                        </div>
                                        <div
                                            class="pl-16 mb-60 mt-20"
                                            style="display:flex;"
                                        >
                                            <div
                                                class="h3 secondary-text  ml-120"
                                                style="flex:1"
                                            >
                                                <div class="h3 secondary-text">
                                                    Retail Stores
                                                </div>
                                                <div class="h3 secondary-text">
                                                    $18,570
                                                </div>
                                            </div>
                                            <div
                                                class="h3 secondary-text pr-16 mr-120"
                                                style="float: right;"
                                            >
                                                <div class="h3 secondary-text ">
                                                    Ecommerce Web
                                                </div>
                                                <div class="h3 secondary-text ">
                                                    $31,330
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'pal'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                    >
                                        <div class="pr-16">
                                            <div class="h2">
                                                Customer Satisfaction Metrics
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-150 w-100-p">
                                        <div
                                            class="widget pl-16"
                                            fxFlex="100"
                                            fxFlex.gt-sm="100"
                                        >
                                            <table class="simple">
                                                <thead>
                                                    <tr>
                                                        <th class="w-200">
                                                            Product
                                                        </th>
                                                        <th class="w-250">
                                                            Name
                                                        </th>
                                                        <th>Affility LEVEL</th>
                                                        <th class="w-120">
                                                            Total Score
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="product-row">
                                                        <td>
                                                            <img
                                                                class="product-image"
                                                                src="assets/images/ecommerce/a-walk-amongst-friends.jpg"
                                                            />
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="auto-width"
                                                            >
                                                                Alex
                                                            </div>
                                                        </td>
                                                        <td>10</td>
                                                        <td>29,192$</td>
                                                    </tr>
                                                    <tr class="product-row">
                                                        <td>
                                                            <img
                                                                class="product-image"
                                                                src="assets/images/ecommerce/first-snow.jpg"
                                                            />
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="auto-width"
                                                            >
                                                                John
                                                            </div>
                                                        </td>
                                                        <td>10</td>
                                                        <td>29,192$</td>
                                                    </tr>
                                                    <tr class="product-row">
                                                        <td>
                                                            <img
                                                                class="product-image"
                                                                src="assets/images/ecommerce/fall-glow.jpg"
                                                            />
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="auto-width"
                                                            >
                                                                Smith
                                                            </div>
                                                        </td>
                                                        <td>9</td>
                                                        <td>29,192$</td>
                                                    </tr>
                                                    <tr class="product-row">
                                                        <td>
                                                            <img
                                                                class="product-image"
                                                                src="assets/images/ecommerce/reaching.jpg"
                                                            />
                                                        </td>
                                                        <td>
                                                            <div
                                                                class="auto-width"
                                                            >
                                                                David
                                                            </div>
                                                        </td>
                                                        <td>9</td>
                                                        <td>29,192$</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'pvpv'
                                    }"
                                ></div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'br'
                                    }"
                                ></div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'lsoosi'
                                    }"
                                ></div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'gsc'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                    >
                                        <div class="pr-16">
                                            <div class="h2">
                                                Gender Sentiment Change
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-327 w-100-p h-460 pt-10">
                                        <jqxChart
                                            [width]="'100%'"
                                            [height]="327"
                                            [title]="''"
                                            [description]="''"
                                            [showLegend]="true"
                                            [enableAnimations]="true"
                                            [showBorderLine]="false"
                                            [padding]="padding1"
                                            [titlePadding]="titlePadding1"
                                            [source]="dataAdapter"
                                            [showBorderLine]="true"
                                            [seriesGroups]="seriesGroups1"
                                            [colorScheme]="'scheme02'"
                                            [legendLayout]="legendLayout"
                                        >
                                        </jqxChart>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'npsssc'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 pt-8"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h5 secondary-text"
                                                >NPS Segmentation Change
                                            </span>
                                        </div>
                                    </div>
                                    <div class="position-relative h-256 pb-16">
                                        <jqxChart
                                            [width]="330"
                                            [height]="280"
                                            [title]="''"
                                            [description]="''"
                                            [showLegend]="true"
                                            [enableAnimations]="true"
                                            [showBorderLine]="false"
                                            [padding]="padding_donut1"
                                            [titlePadding]="titlePadding_donut1"
                                            [source]="dataAdapter_donut1"
                                            [legendLayout]="legendLayout_donut1"
                                            [showBorderLine]="true"
                                            [seriesGroups]="seriesGroups_donut1"
                                            [colorScheme]="'scheme02'"
                                        >
                                        </jqxChart>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'ujtf'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 pt-8"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h5 secondary-text"
                                                >User Journey Traffic Row</span
                                            >
                                        </div>
                                    </div>
                                    <div class="position-relative h-256 pb-16">
                                        <jqxChart
                                            [width]="330"
                                            [height]="280"
                                            [title]="''"
                                            [description]="''"
                                            [showLegend]="true"
                                            [enableAnimations]="true"
                                            [showBorderLine]="false"
                                            [padding]="padding_donut2"
                                            [titlePadding]="titlePadding_donut2"
                                            [source]="dataAdapter_donut2"
                                            [legendLayout]="legendLayout_donut2"
                                            [showBorderLine]="true"
                                            [seriesGroups]="seriesGroups_donut2"
                                            [colorScheme]="'scheme02'"
                                        >
                                        </jqxChart>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'clv'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Customer Lifetime Value</span
                                            >
                                            <span class="h5 secondary-text"
                                                >Unique visitors by month</span
                                            >
                                        </div>
                                    </div>
                                    <div class="position-relative h-256 pb-16">
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                widgets1.widget5.datasets[
                                                    widget5SelectedDay
                                                ]
                                            "
                                            [labels]="widgets1.widget5.labels"
                                            [colors]="widgets1.widget5.colors"
                                            [options]="widgets1.widget5.options"
                                            [chartType]="
                                                widgets1.widget5.chartType
                                            "
                                            id="canvas-clv"
                                        >
                                        </canvas>
                                        <div
                                            id="chartContainer"
                                            style="height: 250px; width: 100%;"
                                        ></div>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'locs'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                    >
                                        <div class="pr-16">
                                            <div class="h3 ">
                                                Loss of Customer Sentiment
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-150 w-100-p">
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                widgets1.widget4.datasets
                                            "
                                            [labels]="widgets1.widget4.labels"
                                            [colors]="widgets.widget4.colors"
                                            [options]="widgets1.widget4.options"
                                            [chartType]="'line'"
                                            id="canvas-locs"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'acroo5'
                                    }"
                                ></div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'smes'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24 blue-600"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Social Media Engagement
                                                Score</span
                                            >
                                            <span class="h5 secondary-text"
                                                >Overall engagement score across
                                                various social media
                                                avenues</span
                                            >
                                        </div>
                                    </div>
                                    <div
                                        class="position-relative h-256 pb-16 blue-600"
                                    >
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                widgets1.widget1.datasets[
                                                    widget1SelectedYear
                                                ]
                                            "
                                            [labels]="widgets1.widget1.labels"
                                            [colors]="widgets1.widget1.colors"
                                            [options]="widgets1.widget1.options"
                                            [chartType]="
                                                widgets1.widget1.chartType
                                            "
                                            id="canvas-smes"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'sffl'
                                    }"
                                >
                                    <div
                                        class="position-relative p-24"
                                        fxLayout="row"
                                        fxLayoutAlign="space-between center"
                                    >
                                        <div
                                            fxLayout="column"
                                            fxLayoutAlign="start start"
                                        >
                                            <span class="h2"
                                                >Social Followers & Fans</span
                                            >
                                        </div>
                                    </div>
                                    <div class="position-relative h-368 pb-16">
                                        <canvas
                                            baseChart
                                            [datasets]="
                                                widgets1.widget5.datasets[
                                                    widget5SelectedDay
                                                ]
                                            "
                                            [labels]="widgets1.widget5.labels"
                                            [colors]="widgets1.widget5.colors"
                                            [options]="widgets1.widget5.options"
                                            [chartType]="
                                                widgets1.widget5.chartType
                                            "
                                            id="canvas-sffl"
                                        >
                                        </canvas>
                                    </div>
                                </div>
                                <div
                                    [ngClass]="{
                                        hide:
                                            selected == undefined ||
                                            selected.valueFieldType != 'ccl'
                                    }"
                                >
                                    <div
                                        class="p-16 pb-0"
                                        fxLayout="row wrap"
                                        fxLayoutAlign="start end"
                                        style="border-bottom:1px solid rgba(0, 0, 0, 0.12)"
                                    >
                                        <div class="pr-16">
                                            <div class="h2">
                                                Concern Satisfication
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="h-234"
                                        style="text-align: -webkit-center"
                                    >
                                        <jqxChart
                                            [width]="getWidth1()"
                                            [height]="234"
                                            [title]="''"
                                            [description]="''"
                                            [showLegend]="true"
                                            [enableAnimations]="true"
                                            [showBorderLine]="false"
                                            [padding]="padding1"
                                            [titlePadding]="titlePadding1"
                                            [source]="dataAdapter"
                                            [showBorderLine]="true"
                                            [seriesGroups]="seriesGroups1"
                                            [colorScheme]="'scheme02'"
                                            [legendLayout]="legendLayout"
                                        >
                                        </jqxChart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
