@import "src/@fuse/scss/fuse";

#reporting {

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 8px 32px 32px 8px;
        min-width: 0;

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            .fuse-card {

                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                }
            }
        }
    }

    #jqxgrid .jqx-grid-cell {
        border: none;
    }

    #horizontal .jqx-progressbar-value {
        background-color: #33b5e5;
    }
    
     .hide {
        display: none;
    }

    .product-image {
        overflow: hidden;
        width: 56px;
        min-width: 56px;
        max-width: 56px;
        height: 56px;
        min-height: 56px;
        max-height: 56px;
        border-radius: 4px;

        img {
            height: 100%;
            width: auto;
            max-width: none;
        }
    }

    .avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        font-size: 17px;
        font-weight: 600;
        text-align: center;

        &.square {
            border-radius: 0;
        }

        &.small {
            width: 20px;
            min-width: 20px;
            height: 20px;
            line-height: 20px;
        }

        &.big {
            width: 72px;
            min-width: 72px;
            height: 72px;
            line-height: 72px;
        }

        &.huge {
            width: 96px;
            min-width: 96px;
            height: 96px;
            line-height: 96px;
        }
    }

    .avatar-wrapper {
        position: relative;

        .avatar {
            margin-top: 0;
            margin-bottom: 0;
        }

        mat-icon.status {
            position: absolute;
            top: 28px;
            left: 28px;
        }
    }
}