<div id="serviceavailtwo" class="page-layout blank">
    <div class="m-16">
        <span class="h2 ml-8 mt-8">Server/Node Dashboard</span>
    </div>

    <div class="content">
        <div class="left">
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="position-relative p-4" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-form-field>
                                    <mat-select class="simplified" style="font-size: 8px;" value="server">
                                        <mat-option value="satisfy">satisfy</mat-option>
                                        <mat-option value="client">client</mat-option>
                                        <mat-option value="server">Validator MongoDB Server</mat-option>
                                        <mat-option value="project">project</mat-option>
                                        <mat-option value="service">service</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="position-relative h-148 pb-16">
                            <div class="mb-16" style="text-align: center;">
                                <span class="h3">Validator MongoDB Server</span>
                            </div>
                            <div id="container" style="width:200px; height: 100px; text-align: center; align-items:center; margin-left: auto; margin-right: auto;"></div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h3">Status</span>

                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2 text-danger" style = "color:#0f0">Active </span>
                            <span class="h2">27 Days</span>
                            <!-- <span class="dot ml-32 mt-12 "></span> -->
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h3">Node Health</span>

                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2 text-danger">Critical </span>
                            <!-- <span class="h2">27 Days</span> -->
                            <span class="dot ml-32 mt-12 "></span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h3">Application Status</span>

                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2 text-danger">Validate Mongo Server</span>
                            <span class="dot ml-32 mt-12 "></span>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h3">Database Status</span>

                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2 text-danger">Validator MongoDB Server </span>
                            <!-- <span class="h2">27 Days</span> -->
                            <span class="dot-green ml-32 mt-12 "></span>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h3">Memory and Disk Usague</span>

                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2 text-danger">Validator App Server </span>
                            <!-- <span class="h2">27 Days</span> -->
                            <span class="dot-green ml-32 mt-12 "></span>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h3">Server Lifecycle Status</span>

                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2 text-danger">Validator App Server </span>
                            <!-- <span class="h2">27 Days</span> -->
                            <span class="dot-green ml-32 mt-12 "></span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="column" fxLayoutAlign.gt-sm="start start">
                <div class="widget">
                    <div class="fuse-card mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text" style="padding-left:10px;">Node Details</div>
                            </div>
                        </div>
                        <div class="h-150 w-100-p" style="text-align:left; padding-left:30px;">
                            <h4>Name : Smcct0-val-db1</h4>
                            <h4>Type : test</h4>
                            <h4>App Group : validator</h4>
                            <h4>Vendor : Dell</h4>
                            <h4>Model : R620</h4>
                            <h4>IP Address : 10.173.1.16</h4>
                            <h4>Location : eu-west 1234.567</h4>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="fuse-card mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text" style="padding-left:10px;">Incredient Dashboard</div>
                            </div>
                        </div>
                        <div class="h-150 w-100-p" style="text-align:left; padding-left:30px;">
                            <h4>Name : Smcct0-val-db1</h4>
                            <h4>Type : test</h4>
                            <h4>App Group : validator</h4>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="fuse-card mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h4 secondary-text" style="padding-left:10px; text-align: center;">Vendor Specific Data(ILO) Dashboard</div>
                                <div class="h5" style="padding-left:10px; text-align: center;">Validator App Server</div>
                            </div>
                        </div>
                        <div class="h-150 w-100-p" style="text-align:left; padding-left:30px;">
                            <h4>CPU Usage : Smcct0-val-db1</h4>
                            <h4>Temperature : test</h4>
                            <h4>Power Supplies : validator</h4>
                            <h4>Network Supplies : validator</h4>
                            <h4>Batteries : validator</h4>
                            <h4>Fans : validator</h4>
                            <h4>Physical Disk : validator</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>