<div id="lifecycledashboard" class="page-layout blank">
    <div class="content" style="padding-right:8px !important;">
        <div class="left">

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">

                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h2">Lifecycle Dashboard</span>
                            </div>
                            <!-- <div fxLayout="row" fxLayoutAlign="start center">
                                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer" (click)="widget5SelectedDay = 'yesterday'"
                                        [ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">
                                        SELECT WHICH KPI YOU WANT
                                    </div>
                                </div> -->
                        </div>

                        <div class="position-relative h-370 pb-16">
                            <div class="mb-12">
                                <jqxDataTable [width]="'100%'" [columns]="columns" [selectionMode]="'singleRow'"
                                    [altRows]="true" [sortable]="true" [editable]="true">
                                    <table id='table' border='1'>
                                        <thead>
                                            <tr>
                                                <th align='left'>#</th>
                                                <th align='left'>Device</th>
                                                <th align='left'>Description</th>
                                                <th align='right'>Time to Fix</th>
                                                <th align='right'>Criticality</th>
                                                <th align='right'>LongTerm Recommendation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>SM2M Core</td>
                                                <td>vhost down</td>
                                                <td>3pm</td>
                                                <td>High</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Validator</td>
                                                <td>sample</td>
                                                <td>5pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Validatior</td>
                                                <td>Sample</td>
                                                <td>2pm</td>
                                                <td>Medium</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>DNS</td>
                                                <td>DNS Mongodb down</td>
                                                <td>4pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>DNS</td>
                                                <td>DNS Mongodb down</td>
                                                <td>4pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>DNS</td>
                                                <td>DNS Mongodb down</td>
                                                <td>4pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>DNS</td>
                                                <td>DNS Mongodb down</td>
                                                <td>4pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>DNS</td>
                                                <td>DNS Mongodb down</td>
                                                <td>4pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>DNS</td>
                                                <td>DNS Mongodb down</td>
                                                <td>4pm</td>
                                                <td>Critical</td>
                                                <td>9,928</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </jqxDataTable>
                            </div>
                            <span class="h1 ml-8" style="color: #35b5e5">Create your report</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>