<div id="socialmedia" class="page-layout blank">
    <div class="main-widget">
        <div
            class="position-relative p-24 blue-600"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Social Media Engagement Score</span>
                <span class="h5 secondary-text"
                    >Overall engagement score across various social media
                    avenues</span
                >
            </div>
        </div>
        <div class="position-relative h-256 pb-16 blue-600">
            <canvas
                baseChart
                [datasets]="widgets.widget1.datasets[widget1SelectedYear]"
                [labels]="widgets.widget1.labels"
                [colors]="widgets.widget1.colors"
                [options]="widgets.widget1.options"
                [chartType]="widgets.widget1.chartType"
            >
            </canvas>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important">
        <div class="left">
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h2">Social Media Feed</div>
                            </div>
                        </div>
                        <div class="h-448 w-100-p">
                            <div
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                                class="position-relative h-448"
                            >
                            <a
                                class="twitter-timeline"
                                data-width="'100%'"
                                data-height="432"
                                href="https://twitter.com/Kirill141082225/likes?ref_src=twsrc%5Etfw"
                                >Socail Media Feed about Amazon</a
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div
                                class="pr-16"
                                style="position:relative; display: flex; flex: 1;"
                            >
                                <div class="h2">BBC News Plugin</div>
                                <div
                                    class="h3"
                                    style="right:10px; position: absolute"
                                >
                                    Last updated before 10 mins ago
                                </div>
                            </div>
                        </div>
                        <div class="h-246 w-100-p">
                            <div style="text-align: center;">
                                <img
                                    class="mt-24"
                                    src="{{latest_news_img}}"
                                    style="width : 320px; height: 240px;"
                                />
                            </div>
                            <div style="text-align: center">
                                <h2>{{ latest_news_title }}</h2>
                                <pre>{{ latest_news_content }}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="position-relative p-24"
                            fxLayout="row"
                            fxLayoutAlign="space-between center"
                        >
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h2">Social Followers & Fans</span>
                            </div>
                        </div>
                        <div class="position-relative h-368 pb-16">
                            <canvas
                                baseChart
                                [datasets]="
                                    widgets.widget5.datasets[widget5SelectedDay]
                                "
                                [labels]="widgets.widget5.labels"
                                [colors]="widgets.widget5.colors"
                                [options]="widgets.widget5.options"
                                [chartType]="widgets.widget5.chartType"
                            >
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                            style="border-bottom:1px solid rgba(0, 0, 0, 0.12)"
                        >
                            <div class="pr-16">
                                <div class="h2">Concern Satisfication</div>
                            </div>
                        </div>
                        <div class="h-234" style="text-align: -webkit-center">
                            <jqxChart
                            [width]="getWidth1()"
                            [height]="234"
                            [title]="''"
                            [description]="''"
                            [showLegend]="true"
                            [enableAnimations]="true"
                            [showBorderLine]="false"
                            [padding]="padding1"
                            [titlePadding]="titlePadding1"
                            [source]="dataAdapter"
                            [showBorderLine]="true"
                            [seriesGroups]="seriesGroups1"
                            [colorScheme]="'scheme02'"
                            [legendLayout]="legendLayout"
                            >
                            </jqxChart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right" style="display:block !important">
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="column"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h2">
                                    Customer Satisfication Score
                                </div>
                            </div>
                        </div>
                        <div class="h-350 w-100-p pl-16">
                            <div
                                class="fuse-card auto-width mb-32"
                                [ngClass.gt-sm]="'mb-0 mr-32'"
                            >
                                <div
                                    class="p-16 pb-0"
                                    fxLayout="row wrap"
                                    fxLayoutAlign="start end"
                                >
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">
                                            Customer Satisfication Score
                                        </div>
                                        <div
                                            class="font-size-54 font-weight-300 line-height-1 mt-8"
                                        >
                                            {{
                                                widgets.widget2.conversion
                                                    .value
                                            }}k
                                        </div>
                                    </div>

                                    <div
                                        class="py-4 font-size-16"
                                        fxLayout="row"
                                        fxLayoutAlign="start center"
                                    >
                                        <div
                                            fxFlex="row"
                                            fxLayoutAlign="start center"
                                            class="green-fg"
                                            *ngIf="
                                                widgets.widget2.conversion
                                                    .ofTarget > 0
                                            "
                                        >
                                            <mat-icon class="green-fg mr-4"
                                                >trending_up</mat-icon
                                            >
                                            <span
                                                >{{
                                                    widgets.widget2.conversion
                                                        .ofTarget
                                                }}%</span
                                            >
                                        </div>
                                        <div
                                            fxFlex="row"
                                            fxLayoutAlign="start center"
                                            class="red-fg"
                                            *ngIf="
                                                widgets.widget2.conversion
                                                    .ofTarget < 0
                                            "
                                        >
                                            <mat-icon class="red-fg mr-4"
                                                >trending_down</mat-icon
                                            >
                                            <span
                                                >{{
                                                    widgets.widget2.conversion
                                                        .ofTarget
                                                }}%</span
                                            >
                                        </div>
                                        <div class="ml-4 text-nowrap">
                                            of target
                                        </div>
                                    </div>
                                    <img
                                        src="assets/images/satisfication/smile.gif"
                                        width="90"
                                        style="flex: 1;padding-left: 30px;"
                                    />
                                </div>

                                <div class="h-240 w-100-p">
                                    <canvas
                                        baseChart
                                        [datasets]="widgets.widget2.datasets"
                                        [labels]="widgets.widget2.labels"
                                        [colors]="widgets.widget2.colors"
                                        [options]="widgets.widget2.options"
                                        [chartType]="widgets.widget2.chartType"
                                    >
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="fuse-card mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h2">
                                    Social Media Recommendation
                                </div>
                            </div>
                        </div>
                        <div class="h-350 w-100-p">
                            <div
                                class="p-16 pb-0"
                                fxLayout="row wrap"
                                fxLayoutAlign="start end"
                            >
                                <div class="pr-16">
                                    <div class="h2">Business Metrics</div>
                                </div>
                            </div>
                            <div class="h-407 w-100-p pt-10">
                                <div class="pt-8 pl-16 pr-16 pb-4" style = "display : flex; flex:2;">
                                    <div class="h3 secondary-text" style = "flex:1">
                                        Segmentation Sentiment change
                                    </div>
                                    <div class="h3 secondary-text">
                                        +0%
                                    </div>
                                </div>
                                <div class="pl-16 pr-16">
                                    <jqxProgressBar
                                        #horizontal
                                        [width]="'100%'"
                                        [height]="20"
                                        [value]="87"
                                        [colorRanges]="horizontalColorRanges1"
                                    >
                                    </jqxProgressBar>
                                </div>
                                <div class="pt-8 pl-16 pr-16 pb-4" style = "display : flex; flex:2;">
                                    <div class="h3 secondary-text" style = "flex:1">
                                        Net Promoter Score
                                    </div>
                                    <div class="h3 secondary-text">
                                        +20%
                                    </div>
                                </div>
                                <div class="pl-16 pr-16">
                                    <jqxProgressBar
                                        #horizontal
                                        [width]="'100%'"
                                        [height]="20"
                                        [value]="53"
                                        [colorRanges]="horizontalColorRanges2"
                                    >
                                    </jqxProgressBar>
                                </div>
                                <div class="pt-8 pl-16 pb-4 pr-16" style = "display : flex; flex:2;">
                                    <div class="h3 secondary-text" style = "flex:1">
                                        Average Customer Review
                                    </div>
                                    <div class="h3 secondary-text">
                                        -10%
                                    </div>
                                </div>
                                <div class="pl-16 pr-16">
                                    <jqxProgressBar
                                        #horizontal
                                        [width]="'100%'"
                                        [height]="20"
                                        [value]="37"
                                        [colorRanges]="horizontalColorRanges3"
                                    >
                                    </jqxProgressBar>
                                </div>
                                <div class="pt-8 pr-16 pl-16 pb-4" style = "display : flex; flex:2;">
                                    <div class="h3 secondary-text" style = "flex:1">
                                        Customer lifetime Value
                                    </div>
                                    <div class="h3 secondary-text">
                                        +8%
                                    </div>
                                </div>
                                <div class="pl-16 pr-16">
                                    <jqxProgressBar
                                        #horizontal
                                        [width]="'100%'"
                                        [height]="20"
                                        [value]="87"
                                        [colorRanges]="horizontalColorRanges1"
                                    >
                                    </jqxProgressBar>
                                </div>
                                <div class="pt-8 pr-16 pl-16 pb-4" style = "display : flex; flex:2;">
                                    <div class="h3 secondary-text" style = "flex:1">
                                        Customer satisfication score
                                    </div>
                                    <div class="h3 secondary-text">
                                        -20%
                                    </div>
                                </div>
                                <div class="pl-16 pr-16">
                                    <jqxProgressBar
                                        #horizontal
                                        [width]="'100%'"
                                        [height]="20"
                                        [value]="53"
                                        [colorRanges]="horizontalColorRanges2"
                                    >
                                    </jqxProgressBar>
                                </div>
                                <div class="pt-8 pr-16 pl-16 pb-4" style = "display : flex; flex:2;">
                                    <div class="h3 secondary-text" style = "flex:1">Weather</div>
                                    <div class="h3 secondary-text">
                                        -13%
                                    </div>
                                </div>
                                <div class="pl-16 pr-16 pb-20">
                                    <jqxProgressBar
                                        #horizontal
                                        [width]="'100%'"
                                        [height]="20"
                                        [value]="37"
                                        [colorRanges]="horizontalColorRanges3"
                                    >
                                    </jqxProgressBar>
                                </div>
                                <div class="pr-16 pl-16 pb-4" style = "display : flex; flex:2;">
                                    <div class="h2" style = "flex:1; text-align: center">Invest in better customer service</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
