<div id="serviceavailone" class="page-layout blank">
    <!-- Row1 -->
    <!-- Widget 1 -->
    <div class="main-widget">
        <div class="position-relative p-24 pb-0" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Server Service Dashboard</span>
                <div class="px-8" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field>
                        <mat-select class="simplified" value="server">
                            <mat-option value="satisfy">satisfy</mat-option>
                            <mat-option value="client">client</mat-option>
                            <mat-option value="server">Validator Service</mat-option>
                            <mat-option value="project">project</mat-option>
                            <mat-option value="service">service</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="position-relative h-256 pb-16">
            <div class="fuse-card auto-width mb-32 ml-32 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="height: 256px;">
                <!-- <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="0"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300"></circle-progress> -->
                <div class="mt-16" >
                    <span class="h2">Validator Servers</span>
                </div>
                <div class="mt-32" id="container" style="width:200px; height: 100px;"></div>
            </div>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important" style = "display:block">
        <!-- Row2 -->
        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            <!-- Widget 1 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card mb-32 ml-32 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align: center; height: 240px;">
                    <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                        <span class="h2">Servers</span>
                        <span class="dot ml-32 mt-12 "></span>
                    </div>
                    <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                        <span class="h2">Validator MongoDB</span>
                    </div>
                </div>
            </div>
            <!-- Widget 2 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                <div class="fuse-card mb-32 ml-64 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align: center; height: 240px;">
                    <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                        <span class="h2">Servers</span>
                        <span class="dot ml-32 mt-12 "></span>
                    </div>
                    <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                        <span class="h2">Validator SQL Server</span>
                    </div>
                </div>
            </div>
            <!-- Widget 3 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card mb-32 ml-64 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align: center; height: 240px;">
                    <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                        <span class="h2">Servers</span>
                        <span class="dot ml-32 mt-12 "></span>
                    </div>
                    <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                        <span class="h2">Validator Storage Server</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row 3 -->
        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            <!-- Widget 1 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card mb-32 ml-32 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align: center; height: 240px;">
                    <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                        <span class="h2">Servers</span>
                        <span class="dot ml-32 mt-12 "></span>
                    </div>
                    <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                        <span class="h2">Validator App Server</span>
                    </div>
                </div>
            </div>
            <!-- Widget 2 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                <div class="fuse-card mb-32 ml-64 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align: center; height: 240px;">
                    <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                        <span class="h2">Servers</span>
                        <span class="dot ml-32 mt-12 "></span>
                    </div>
                    <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                        <span class="h2">Validator App Server</span>
                    </div>
                </div>
            </div>
            <!-- Widget 3 -->
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card mb-32 ml-64 pl-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align: center; height: 240px;">
                        <div style="text-align: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
                            <span class="h2">Servers</span>
                            <span class="dot ml-32 mt-12 "></span>
                        </div>
                        <div style="text-align: center; align-items: center; padding-bottom: 50px;">
                            <span class="h2">Validator App Server</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>