@import "src/@fuse/scss/fuse";
#serviceavailone {
  .main-widget {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    padding: 8px 32px 32px 8px;
    min-width: 0;

    @include media-breakpoint("lt-lg") {
      flex-direction: column;
    }

    .left {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-width: 0;

      .widget {
        flex: 1 1 auto;
        min-width: 0;
      }
    }

    .right {
      display: flex;
      flex: 0 0 auto;
      width: 320px;
      min-width: 320px;
      max-width: 320px;

      @include media-breakpoint("lt-lg") {
        flex: 1 0 100%;
        margin-top: 32px;
        width: 100%;
        min-width: 0;
        max-width: none;
      }

      .fuse-card {
        @include media-breakpoint("lt-lg") {
          width: 100%;
          min-width: 0;
          max-width: none;
        }
      }
      
    }
  }
  #jqxgrid .jqx-grid-cell {
    border: none;
  }
  #horizontal .jqx-progressbar-value {
    background-color: #33b5e5;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: #f00;
    border-radius: 50%;
    display: inline-block;
  }
}
