<div id="dashboard" class="page-layout blank">
    <!-- Row1 -->
    <!-- Widget 1 -->
    <div class="main-widget">
        <div class="position-relative p-24 pb-0 blue-600" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Sales</span>
                <span class="h5 secondary-text">Sales by month</span>
            </div>
        </div>
        <div class="position-relative h-256 pb-0 blue-600">
            <canvas id="salesChart" chart-data="data" width="'100%'"></canvas>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important">
        <div class="left">
            <!-- Row2 -->
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- Widget 1 -->
                <div class="widget mr-8" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="position-relative p-24 blue-600" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Net Promoter Score </span>
                            <span class="h5 secondary-text">Month by Month view</span>
                        </div>
                    </div>
                    <div class="position-relative h-256 pb-16 blue-600">
                        <canvas baseChart [datasets]="widgets.widget1.datasets[widget1SelectedYear]" [labels]="widgets.widget1.labels"
                            [colors]="widgets.widget1.colors" [options]="widgets.widget1.options" [chartType]="widgets.widget1.chartType">
                        </canvas>
                    </div>
                </div>

                <!-- widget2 -->
                <div class="widget ml-8" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                            <div class="p-24" style="display: flex; flex:3; position: relative">
                                <div style="flex:2;">
                                    <div class="h2">
                                        Customer Satisfication Score
                                    </div>
                                    <div style="display:flex;">
                                        <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                            {{ widgets.widget2.conversion.value }}k
                                        </div>
                                        <div style="display:flex; position: relative;">
                                            <div class="green-fg" *ngIf="widgets.widget2.conversion.ofTarget > 0" style="display:flex; position:absolute; top:34%">
                                                <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                                <span>
                                                    {{widgets.widget2.conversion.ofTarget}}%
                                                </span>
                                                <div class="ml-4 text-nowrap"> of Target</div>
                                            </div>
                                            <div class="red-fg" *ngIf="widgets.widget2.conversion.ofTarget < 0">
                                                <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                                <span>
                                                    {{widgets.widget2.conversion.ofTarget}}%
                                                </span>
                                                <div class="ml-4 text-nowrap"> of Target</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div style="flex:1; position:absolute; top:8%; right:2%">
                                    <img src="assets/images/satisfication/smile.gif" width="200" />
                                </div>
                            </div>
                        </div>
                        <div class="h-208 w-100-p">
                            <canvas baseChart [datasets]="widgets.widget2.datasets" [labels]="widgets.widget2.labels"
                                [colors]="widgets.widget2.colors" [options]="widgets.widget2.options" [chartType]="widgets.widget2.chartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h2">Site Visitors</span>
                            </div>
                        </div>
                        <div class="position-relative h-368 pb-16">
                            <canvas id="visitorChart" chart-data="data" width="'100%'"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 4 -->
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- Widget1 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end" style="border-bottom:1px solid rgba(0, 0, 0, 0.12)">
                            <div class="pr-16">
                                <div class="h2 ">
                                    Big Kahuna Metrics
                                </div>
                            </div>
                        </div>
                        <div class="h-234 w-100-p">
                            <div class="pt-16 pl-16 pr-16 pb-8" style="display: flex; flex:2">
                                <div class="h3 " style="flex:1">
                                    Social Media Engagement
                                </div>
                                <div class="h3 ">
                                    20%+ from Yesterday
                                </div>
                            </div>
                            <div class="pl-16 pr-16 pb-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="87" [colorRanges]="horizontalColorRanges1">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pr-16 pb-8" style="display: flex; flex:2">
                                <div class="h3 " style="flex:1">
                                    Inventory Levels
                                </div>
                                <div class="h3">
                                    10%+ from Yesterday
                                </div>
                            </div>
                            <div class="pl-16 pr-16 pb-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="53" [colorRanges]="horizontalColorRanges2">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pr-16 pb-8" style="display: flex; flex:2">
                                <div class="h3 " style="flex:1">
                                    Product Affinity
                                </div>
                                <div class="h3 ">
                                    10%+ from Yesterday
                                </div>
                            </div>
                            <div class="pl-16 pr-16 pb-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="37" [colorRanges]="horizontalColorRanges3">
                                </jqxProgressBar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end" style="border-bottom:1px solid rgba(0, 0, 0, 0.12)">
                            <div class="pr-16">
                                <div class="h2 ">
                                    Top Dog Metrics
                                </div>
                            </div>
                        </div>
                        <div class="h-234 w-100-p">
                            <div class="pt-16 pl-16 pr-16 pb-8" style="display: flex; flex:2">
                                <div class="h3 " style="flex:1">
                                    Social Media Engagement
                                </div>
                                <div class="h3">
                                    20%+ from Yesterday
                                </div>
                            </div>
                            <div class="pl-16 pr-16 pb-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="87" [colorRanges]="horizontalColorRanges1">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pr-16 pb-8" style="display: flex; flex:2">
                                <div class="h3 " style="flex:1">
                                    Inventory Levels
                                </div>
                                <div class="h3 ">
                                    10%+ from Yesterday
                                </div>
                            </div>
                            <div class="pl-16 pr-16 pb-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="53" [colorRanges]="horizontalColorRanges2">
                                </jqxProgressBar>
                            </div>
                            <div class="pt-16 pl-16 pr-16 pb-8" style="display: flex; flex:2">
                                <div class="h3" style="flex:1">
                                    Product Affinity
                                </div>
                                <div class="h3">
                                    10%+ from Yesterday
                                </div>
                            </div>
                            <div class="pl-16 pr-16 pb-16">
                                <jqxProgressBar #horizontal [width]="'100%'" [height]="20" [value]="37" [colorRanges]="horizontalColorRanges3">
                                </jqxProgressBar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right" style="display:block !important">
            <!-- Row 1 Right -->
            <div class="mb-32" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100">
                    <div class="fuse-card" style="background-color:#1E88E5">
                        <div class="h-296 w-100-p">
                            <div fxFlex="100">
                                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                                    <div class="pt-16 pl-16 pb-8">
                                        <div class="h5 secondary-text" style="color:white">
                                            Service Status
                                        </div>
                                    </div>
                                    <div class="pt-16 pl-16 pb-8">
                                        <div class="h5 third-text" style="color:white">
                                            Last Changes: 3hours ago
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="column"
                                    fxLayoutAlign.gt-sm="center center">
                                    <circle-progress [percent]="90" [radius]="100" [outerStrokeWidth]="16"
                                        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
                                        [animation]="true" [animationDuration]="300" [titleColor]="'#fff'" [unitsColor]="'#fff'"
                                        [subtitleColor]="'#fff'" [subtitle]="Uptime">
                                    </circle-progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 2 Right -->
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" style="margin-right: 0px !important;">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width " [ngClass.gt-sm]="'mb-0'">
                        <div style="background-image:linear-gradient(to right,#3CCCC8,#244765); padding: 1rem; width: 100%; height: 100%">
                            <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            </div>
                            <div class="h-222 w-100-p">
                                <mat-icon class="pl-32 pt-4" style="font-size: 64px; opacity: 0.2; color: white; position: absolute; z-index:0;">
                                    school
                                </mat-icon>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        CRITICAL
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        13
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        Monthly Progress
                                    </div>
                                </div>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-icon style="color:white; font-size: 18px; float:right;">
                                        school
                                    </mat-icon>
                                    <div class="ml-8 mt-32 h-64 w-100-p">
                                        <canvas baseChart [datasets]="widgets.widget4.datasets" [labels]="widgets.widget4.labels"
                                            [colors]="widgets.widget4.colors" [options]="widgets.widget4.options"
                                            [chartType]="widgets.widget4.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width " [ngClass.gt-sm]="'mb-0'">
                        <div style="background-image:linear-gradient(to right,#f5501A,#2E2F4A); padding: 1rem; width: 100%; height: 100%">
                            <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end"></div>
                            <div class="h-222 w-100-p">
                                <mat-icon class="pl-32 pt-4" style="font-size: 64px; opacity: 0.2; color: white; position: absolute; z-index:0;">
                                    people
                                </mat-icon>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        LOW
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        25
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        Monthly Progress
                                    </div>
                                </div>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-icon style="color:white; font-size: 18px; float:right;">people</mat-icon>
                                    <div class="ml-8 mt-32 h-64 w-100-p">
                                        <canvas baseChart [datasets]="widgets.widget4.datasets" [labels]="widgets.widget4.labels"
                                            [colors]="whiteColors" [options]="widgets.widget4.options" [chartType]="widgets.widget4.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-32" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width" [ngClass.gt-sm]="'mb-0'">
                        <div style="background-image:linear-gradient(to right,#FFe52B,#5A4647); padding: 1rem; width: 100%; height: 100%">
                            <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end"></div>
                            <div class="h-222 w-100-p">
                                <mat-icon class="pl-32 pt-4" style="font-size: 64px; opacity: 0.2; color: white; position: absolute; z-index:0;">shopping_cart</mat-icon>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        MEDIUM
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        200
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        Monthly Progress
                                    </div>
                                </div>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-icon style="color:white; font-size: 18px; float:right;">shopping_cart</mat-icon>
                                    <div class="ml-8 mt-32 h-64 w-100-p">
                                        <canvas baseChart [datasets]="widgets.widget4.datasets" [labels]="widgets.widget4.labels"
                                            [colors]="whiteColors" [options]="widgets.widget4.options" [chartType]="widgets.widget4.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width " [ngClass.gt-sm]="'mb-0'">
                        <div style="background-image:linear-gradient(to right,rgb(154, 78, 230),#2C2F51); padding: 1rem; width: 100%; height: 100%">
                            <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end"></div>
                            <div class="h-222 w-100-p">
                                <mat-icon class="pl-32 pt-4" style="font-size: 64px; opacity: 0.2; color: white; position: absolute; z-index:0;">
                                    chat_bubble_outline
                                </mat-icon>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        HIGH
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        300
                                    </div>
                                    <div class="h3 secondary-text" style="color:white; z-index: 999; text-align: center">
                                        Monthly Progress
                                    </div>
                                </div>
                                <div fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-icon style="color:white; font-size: 18px; float:right;">chat_bubble_outline</mat-icon>
                                    <div class="ml-8 mt-32 h-64 w-100-p">
                                        <canvas baseChart [datasets]="widgets.widget4.datasets" [labels]="widgets.widget4.labels"
                                            [colors]="whiteColors" [options]="widgets.widget4.options" [chartType]="widgets.widget4.chartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" style="margin-right:0px !important;">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0'">
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="position-relative h-500 pb-16">
                            <a class="twitter-timeline" data-width="'100%'" data-height="484" href="https://twitter.com/Kirill141082225/likes?ref_src=twsrc%5Etfw">
                                Socail Media Feed about Amazon
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>