<div id="dashboard-analytics" class="page-layout blank">
    <div class="content">
        <div class="left mr-lg-32 m-128 mt-32">
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- Widget 2 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 2 -->
                <!-- Widget 3 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 3 -->

                <!-- Widget 4 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 4 -->

            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- Widget 2 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 2 -->
                <!-- Widget 3 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 3 -->

                <!-- Widget 4 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 4 -->

            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- Widget 5 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 5 -->
                <!-- Widget 6 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 6 -->

                <!-- Widget 7 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-64'">
                        <div class="h-240 w-100-p">
                            <div class="pr-16">
                                <div class="h3 secondary-text">Conversion</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget 7 -->

            </div>
        </div>
    </div>
</div>