<div id="serviceavail" class="page-layout blank">
    <div class="main-widget">
        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                <div class="position-relative p-24 blue-600" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">
                            Service Availability via customer spend
                        </span>
                        <span class="h5 secondary-text">Month by Month view</span>
                    </div>
                </div>
                <div class="position-relative h-256 pb-16 blue-600">
                    <canvas baseChart 
                        [datasets]="widgets.widget1.datasets[widget1SelectedYear]"
                        [labels]="widgets.widget1.labels"
                        [colors]="widgets.widget1.colors"
                        [options]="widgets.widget1.options"
                        [chartType]="widgets.widget1.chartType">
                    </canvas>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                    <div class="position-relative p-24" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Customer Lost Hours</span>
                            <span class="h5 secondary-text">
                                Total lost customer trading hours
                            </span>
                        </div>
                    </div>
                    <div class="position-relative h-256 pb-16">
                        <canvas baseChart 
                            [datasets]="widgets.widget5.datasets[widget5SelectedDay]"
                            [labels]="widgets.widget5.labels"
                            [colors]="widgets.widget5.colors"
                            [options]="widgets.widget5.options"
                            [chartType]="widgets.widget5.chartType">
                        </canvas>
                        <div id="chartContainer" style="height: 250px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important;">
        <div class="left">
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">
                                    Active incidents
                                </div>
                            </div>
                        </div>
                        <div class="h-150 w-100-p">
                            <jqxDataTable
                                [width]="'100%'"
                                [columns]="columns"
                                [selectionMode]="'singleRow'"
                                [altRows]="true"
                                [sortable]="true"
                                [editable]="true">
                                <table id="table" border="1">
                                    <thead>
                                        <tr>
                                            <th align="left">#</th>
                                            <th align="left">Server</th>
                                            <th align="left">Description</th>
                                            <th align="right">Time to Fix</th>
                                            <th align="right">Criticality</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>SM2M Core</td>
                                            <td>vhost down</td>
                                            <td>3pm</td>
                                            <td>High</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Validator</td>
                                            <td>sample</td>
                                            <td>5pm</td>
                                            <td>Critical</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Validatior</td>
                                            <td>Sample</td>
                                            <td>2pm</td>
                                            <td>Medium</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>DNS</td>
                                            <td>DNS Mongodb down</td>
                                            <td>4pm</td>
                                            <td>Critical</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </jqxDataTable>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-8" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field>
                    <mat-select class="simplified" value="server">
                        <mat-option value="satisfy">satisfy</mat-option>
                        <mat-option value="client">client</mat-option>
                        <mat-option value="server">Server</mat-option>
                        <mat-option value="project">project</mat-option>
                        <mat-option value="service">service</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                            <div class="pr-16">
                                <div class="h3 secondary-text">SM2M</div>
                            </div>
                        </div>
                        <div class="h-424 w-100-p pt-10" style="text-align:-webkit-center">
                            <jqxChart [width]="'100%'" [height]="'100%'" [title]="''" [description]="''" [showLegend]="true"
                                [enableAnimations]="true" [showBorderLine]="false" [padding]="padding" [titlePadding]="titlePadding"
                                [source]="dataAdapter" [legendLayout]="legendLayout" [showBorderLine]="true" [seriesGroups]="seriesGroup"
                                [colorScheme]="'scheme02'">
                            </jqxChart>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align:-webkit-center">
                                <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">
                                            Mesh : Server
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-16" id="container_mesh" style="width:90%; height: 80%;"></div>
                            </div>
                        </div>
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'" style="text-align:-webkit-center">
                                <div class="p-16 pb-0"
                                    fxLayout="row wrap"
                                    fxLayoutAlign="start end"
                                >
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">
                                            Storage : Server
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="mb-16"
                                    id="container_storage"
                                    style="width:90%; height: 80%;"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div
                        fxLayout="column"
                        fxLayoutAlign="start"
                        fxLayout.gt-sm="row"
                        fxLayoutAlign.gt-sm="start start"
                    >
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                            <div
                                class="fuse-card auto-width mb-32"
                                [ngClass.gt-sm]="'mb-0 mr-32'"
                                style="text-align:-webkit-center"
                            >
                                <div
                                    class="p-16 pb-0"
                                    fxLayout="row wrap"
                                    fxLayoutAlign="start end"
                                >
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">
                                            Valdiator : Server
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="mb-16"
                                    id="container_validator"
                                    style="width:90%; height: 80%;"
                                ></div>
                            </div>
                        </div>
                        <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                            <div
                                class="fuse-card auto-width mb-32"
                                [ngClass.gt-sm]="'mb-0 mr-32'"
                                style="text-align:-webkit-center"
                            >
                                <div
                                    class="p-16 pb-0"
                                    fxLayout="row wrap"
                                    fxLayoutAlign="start end"
                                >
                                    <div class="pr-16">
                                        <div class="h3 secondary-text">
                                            DNS : Server
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="mb-16"
                                    id="container_dns"
                                    style="width:90%; height: 80%;"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right" style="flex-direction: column !important;">
            <div
                class="mb-32"
                fxLayout="row"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100">
                    <div class="fuse-card">
                        <div class="h-230 w-100-p">
                            <div fxFlex="100">
                                <div
                                    fxLayout="column"
                                    fxLayoutAlign="start"
                                    fxLayout.gt-sm="row"
                                    fxLayoutAlign.gt-sm="start start"
                                >
                                    <div class="pl-16 pb-16 w-100-p pr-16">
                                        <div
                                            class="pl-8"
                                            fxLayout="row"
                                            fxLayoutAlign="space-between center"
                                        >
                                            <mat-form-field>
                                                <mat-select
                                                    class="simplified"
                                                    value="server"
                                                >
                                                    <mat-option value="satisfy"
                                                        >satisfy</mat-option
                                                    >
                                                    <mat-option value="client"
                                                        >client</mat-option
                                                    >
                                                    <mat-option value="server"
                                                        >Network</mat-option
                                                    >
                                                    <mat-option value="project"
                                                        >project</mat-option
                                                    >
                                                    <mat-option value="service"
                                                        >service</mat-option
                                                    >
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="pb-4 h2 third-text">
                                            Firewalls
                                        </div>
                                        <div class="h4 secondary-text">
                                            Checkpoint Firewall
                                        </div>
                                        <div>
                                            <jqxProgressBar
                                                #horizontal
                                                [width]="'100%'"
                                                [colorRanges]="
                                                    horizontalColorRanges1
                                                "
                                                [height]="18"
                                                [value]="80"
                                            >
                                            </jqxProgressBar>
                                        </div>
                                        <div class="mt-16 h4 secondary-text">
                                            'Cisco' ASA Firewall
                                        </div>
                                        <div>
                                            <jqxProgressBar
                                                #horizontal
                                                [width]="'100%'"
                                                [colorRanges]="
                                                    horizontalColorRanges1
                                                "
                                                [height]="18"
                                                [value]="60"
                                            >
                                            </jqxProgressBar>
                                        </div>
                                        <div class="mt-16 h4 secondary-text">
                                            Fortigate Firewall
                                        </div>
                                        <div>
                                            <jqxProgressBar
                                                #horizontal
                                                [width]="'100%'"
                                                [colorRanges]="
                                                    horizontalColorRanges1
                                                "
                                                [height]="18"
                                                [value]="30"
                                            >
                                            </jqxProgressBar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="mb-32"
                fxLayout="row"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100">
                    <div class="fuse-card">
                        <div class="h-230 w-100-p">
                            <div fxFlex="100">
                                <div
                                    fxLayout="column"
                                    fxLayoutAlign="start"
                                    fxLayout.gt-sm="row"
                                    fxLayoutAlign.gt-sm="start start"
                                >
                                    <div class="pl-16 w-100-p pr-16">
                                        <div class="h3 third-text mb-16 mt-8">
                                            Load balancers and Security Devices
                                        </div>
                                        <div class="h4 secondary-text mb-8">
                                            F5 Loadbalancer
                                        </div>
                                        <div class="mb-8">
                                            <jqxProgressBar
                                                #horizontal
                                                [width]="'100%'"
                                                [colorRanges]="
                                                    horizontalColorRanges1
                                                "
                                                [height]="18"
                                                [value]="80"
                                            >
                                            </jqxProgressBar>
                                        </div>
                                        <div class="h4 secondary-text">
                                            Safenet HSM
                                        </div>
                                        <div class="mb-8">
                                            <jqxProgressBar
                                                #horizontal
                                                [width]="'100%'"
                                                [colorRanges]="
                                                    horizontalColorRanges1
                                                "
                                                [height]="18"
                                                [value]="30"
                                            >
                                            </jqxProgressBar>
                                        </div>
                                        <div
                                            class="mt-16 mb-8"
                                            style="text-align:-webkit-center"
                                        >
                                            <circle-progress
                                                [percent]="90"
                                                [radius]="100"
                                                [outerStrokeWidth]="16"
                                                [innerStrokeWidth]="0"
                                                [outerStrokeColor]="'#35b5e5'"
                                                [innerStrokeColor]="'#C7E596'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [titleColor]="'#35b5e5'"
                                                [unitsColor]="'#35b5e5'"
                                                [subtitleColor]="'#35b5e5'"
                                                [subtitle]="'Uptime'"
                                            >
                                            </circle-progress>
                                        </div>
                                        <div class="h3 third-text mb-16 mt-8" style = "display:flex; flex:2">
                                            <div style = "flex:1">
                                                <mat-icon class="s-8" style="color:red;fill:red;fill-opacity: 1.0;">fiber_manual_record</mat-icon> % of time down
                                            </div>
                                            <div style = "flex:1">
                                                <mat-icon class="s-8" style="color:#35b5e5;fill:#35b5e5;fill-opacity: 1.0;">fiber_manual_record</mat-icon> % of time up
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
