<div id="customersatis" class="page-layout blank">
    <div class="main-widget">
        <div
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start start"
        >
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                <div
                    class="position-relative p-24 pb-8"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Customer Satisfication Dashboard</span>
                    </div>
                    
                </div>
                <div class="position-relative h-256 pb-16">
                    <div class="widget" fxFlex = "100" fxFlex.gt-sm = "50">
                        <div
                            class="position-relative p-24 pb-0 pt-8"
                            fxLayout="row"
                            fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h3">NGS Segmentation Change </span>
                            </div>
                        </div>
                        <div class="position-relative h-256 pb-16">
                            <jqxChart
                                [width]="'100%'"
                                [height]="'120%'"
                                [title]="''"
                                [description]="''"
                                [showLegend]="true"
                                [enableAnimations]="true"
                                [showBorderLine]="false"
                                [padding]="ngs_padding"
                                [titlePadding]="ngs_titlepadding"
                                [source]="ngs_dataAdapter"
                                [legendLayout]="ngs_legendLayout"
                                [showBorderLine]="true"
                                [seriesGroups]="ngs_seriesGroup"
                                [colorScheme]="'scheme02'"
                            >
                            </jqxChart>
                        </div>
                    </div>
                    <div class="widget" fxFlex = "100" fxFlex.gt-sm = "50">
                        <div
                            class="position-relative p-24 pb-0 pt-8"
                            fxLayout="row"
                            fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <span class="h3">User Journey Traffic Flow</span>
                            </div>
                        </div>
                        <div class="position-relative h-256 pb-16">
                            <jqxChart
                                [width]="'100%'"
                                [height]="'120%'"
                                [title]="''"
                                [description]="''"
                                [showLegend]="true"
                                [enableAnimations]="true"
                                [showBorderLine]="false"
                                [padding]="user_journey_padding"
                                [titlePadding]="user_journey_titlepadding"
                                [source]="user_journey_dataAdapter"
                                [legendLayout]="user_journey_legend_layout"
                                [showBorderLine]="true"
                                [seriesGroups]="user_journey_seriesGroup"
                                [colorScheme]="'scheme02'"
                            >
                            </jqxChart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                <div
                    class="fuse-card auto-width mb-32"
                    [ngClass.gt-sm]="'mb-0 mr-32'"
                >
                    <div
                        class="position-relative p-24"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                    >
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <span class="h2">Customer Lifetime Value</span>
                            <span class="h5 secondary-text"
                                >Unique visitors by month</span
                            >
                        </div>
                    </div>
                    <div class="position-relative h-256 pb-16">
                        <canvas
                            baseChart
                            [datasets]="
                                widgets.widget5.datasets[widget5SelectedDay]
                            "
                            [labels]="widgets.widget5.labels"
                            [colors]="widgets.widget5.colors"
                            [options]="widgets.widget5.options"
                            [chartType]="widgets.widget5.chartType"
                        >
                        </canvas>
                        <div
                            id="chartContainer"
                            style="height: 250px; width: 100%;"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="padding-right:8px !important;">
        <div class="left">
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h2 ">
                                    Customer Satisfaction Metrics
                                </div>
                            </div>
                            <div fxFlex></div>
                            <div class="pr-16">
                                <mat-form-field style = "border: 0px">
                                    <mat-select class="simplified" value="oct">
                                        <mat-option value="jan">January</mat-option>
                                        <mat-option value="feb">February</mat-option>
                                        <mat-option value="mar">March</mat-option>
                                        <mat-option value="apr">April</mat-option>
                                        <mat-option value="may">May</mat-option>
                                        <mat-option value="jun">June</mat-option>
                                        <mat-option value="jul">July</mat-option>
                                        <mat-option value="aug">August</mat-option>
                                        <mat-option value="sep">September</mat-option>
                                        <mat-option value="oct">October</mat-option>
                                        <mat-option value="nov">November</mat-option>
                                        <mat-option value="dec">December</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="h-150 w-100-p">
                            <div
                                class="widget pl-16"
                                fxFlex="100"
                                fxFlex.gt-sm="50"
                            >
                                <table class="simple">
                                    <tbody>
                                        <tr class="product-row">
                                            <td>
                                                <img
                                                    class="product-image"
                                                    src="assets/images/ecommerce/first_response_time.png"
                                                />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    First Responsive Time
                                                </div>
                                            </td>
                                            <td>42min</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img
                                                    class="product-image"
                                                    src="assets/images/ecommerce/average_response_time.png"
                                                />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Average Resolution Time
                                                </div>
                                            </td>
                                            <td>59min</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img
                                                    class="product-image"
                                                    src="assets/images/ecommerce/social_followers.png"
                                                />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Social Followers & Fans
                                                </div>
                                            </td>
                                            <td>187</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                                <table class="simple">
                                    <tbody>
                                        <tr class="product-row">
                                            <td>
                                                <img
                                                    class="product-image"
                                                    src="assets/images/ecommerce/email-count.png"
                                                />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Customer Service Email Count
                                                </div>
                                            </td>
                                            <td>450</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img
                                                    class="product-image"
                                                    src="assets/images/ecommerce/telephone-answering.png"
                                                />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Customer Service Phone Call Count
                                                </div>
                                            </td>
                                            <td>352</td>
                                        </tr>
                                        <tr class="product-row">
                                            <td>
                                                <img
                                                    class="product-image"
                                                    src="assets/images/ecommerce/conversations-icon.png"
                                                />
                                            </td>
                                            <td>
                                                <div class="auto-width">
                                                    Customer Service Chat Count
                                                </div>
                                            </td>
                                            <td>1032</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h2 ">
                                    Segmentation Sentiment Change
                                </div>
                            </div>
                        </div>
                        <div class="h-407 w-100-p pt-10">
                            <jqxChart
                                [width]="'100%'"
                                [height]="407"
                                [title]="''"
                                [description]="''"
                                [showLegend]="true"
                                [enableAnimations]="true"
                                [showBorderLine]="false"
                                [padding]="ssc_padding"
                                [titlePadding]="ssc_titlePadding"
                                [source]="ssc_dataAdapter"
                                [showBorderLine]="true"
                                [legendLayout] = "ssc_legendLayout"
                                [seriesGroups]="ssc_seriesGroup"
                                [colorScheme]="'scheme02'"
                            >
                            </jqxChart>
                        </div>
                    </div>
                </div>
                <div class="widget" fxFlex="100" fxFlex.gt-sm="50">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h2 ">
                                    Customer Satisfaction Recommendation
                                </div>
                            </div>
                        </div>
                        <div class="h-407 w-100-p pt-10">
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Segmentation Sentiment change
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="87"
                                    [colorRanges]="horizontalColorRanges1"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Net Promoter Score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="53"
                                    [colorRanges]="horizontalColorRanges2"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Average Customer Review
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="37"
                                    [colorRanges]="horizontalColorRanges3"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer lifetime Value
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="87"
                                    [colorRanges]="horizontalColorRanges1"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">
                                    Customer satisfication score
                                </div>
                            </div>
                            <div class="pl-16 pr-16">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="40"
                                    [colorRanges]="horizontalColorRanges2"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 pl-16 pb-4">
                                <div class="h3 secondary-text">Weather</div>
                            </div>
                            <div class="pl-16 pr-16 pb-20">
                                <jqxProgressBar
                                    #horizontal
                                    [width]="'100%'"
                                    [height]="20"
                                    [value]="37"
                                    [colorRanges]="horizontalColorRanges3"
                                >
                                </jqxProgressBar>
                            </div>
                            <div class="pt-8 mb-16 pl-16 pb-4">
                                <div class="h1" style = "text-align:center">Invest in better product quality</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div
                fxLayout="column"
                fxLayoutAlign="start"
                fxLayout.gt-sm="column"
                fxLayoutAlign.gt-sm="start start"
            >
                <div class="widget">
                    <div
                        class="fuse-card auto-width mb-32"
                        [ngClass.gt-sm]="'mb-0 mr-32'"
                    >
                        <div
                            class="p-16 pb-0"
                            fxLayout="row wrap"
                            fxLayoutAlign="start end"
                        >
                            <div class="pr-16">
                                <div class="h3 ">
                                    Loss of Customer Sentiment
                                </div>
                            </div>
                        </div>
                        <div class="h-150 w-100-p">
                            <canvas
                                baseChart
                                [datasets]="widgets.widget4.datasets"
                                [labels]="widgets.widget4.labels"
                                [colors]="widgets.widget4.colors"
                                [options]="widgets.widget4.options"
                                [chartType]="'line'"
                            >
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="widget" id = "bbb">
                    <div class="h2 ">Customer Reviews</div>
                    <div class="arf-left" style = "margin-top: 0px !important;">
                        <div id="aaa"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
